
body, ul,li,ol, dl, dt, dd, p, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}
ul,ol {
    list-style: none;
}
input {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0 none;
    outline: none;
    box-sizing: border-box;
    padding-left: 30px;
    box-sizing: border-box;
}

a {
    display: block;
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}


.viewport {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
}